body {
  background: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

html {
  font-size: 100%;
}



h1,
h2,
h3,
.btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}

h1 {
  font-weight: bold;
  font-size: 100px;
}

h2 {
  color: #333;
  font-size: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 8px;
}

#contact h2 {
  color: #ffffff;
}

h3 {
  color: #444;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 1px;
  padding-bottom: 10px;
}

#menu h3 {
  color: #555;
}

h4 {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 400;
}

p {
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 28px;
}

a {
  text-decoration: none !important;
}

a:visited,
a:focus {
  outline: none;
  text-decoration: none !important;
}

.parallax-section {
  background-attachment: fixed !important;
  background-size: cover !important;
}




/* All Section styles */
#about,
#feature,
#video,
#menu,
#team,
#gallery,
#contact {
  color: #656565;
  padding-top: 100px;
  padding-bottom: 100px;
}

#feature,
#video,
#team,
#gallery,
#contact {
  text-align: center;
}

#feature,
#team {
  background: rgb(240, 240, 240);
}



/* section title */
.section-title {
  padding-bottom: 70px;
}

#about .section-title,
#menu .section-title {
  text-align: center;
}

#contact .section-title {
  color: #f0f0f0;
}





.sk-spinner-pulse {
  width: 60px;
  height: 60px;
  background-color: #222;
  border-radius: 100%;
  -webkit-animation: sk-pulseScaleOut 1s infinite ease-in-out;
  animation: sk-pulseScaleOut 1s infinite ease-in-out;
}

@-webkit-keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}



#home {
  color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#home .gradient-overlay {
  background: #c21500;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #c21500, #ffc500);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #c21500, #ffc500);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  opacity: 0.8;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
}

#home .btn {
  background: transparent;
  border: 3px solid #ffffff;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 2px;
  padding: 13px 30px;
  margin-top: 34px;
  text-transform: uppercase;
}






#feature .feature-thumb {
  background-color: #ffffff;
  position: relative;
  padding: 40px;
  margin-top: 32px;
}

#feature .feature-icon {
  background-color: #222;
  width: 85px;
  height: 85px;
  margin: 0 auto;
  top: 0;
  margin-top: -70px;
  margin-bottom: 30px;
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  display: table;
  text-align: center;
  transition: all 0.4s ease-in-out;
}



#feature .feature-icon span {
  display: table-cell;
  vertical-align: middle;
}

#feature .feature-icon .fa {
  color: #ffffff;
  font-size: 36px;
  margin: 0;
  padding: 0;
}

#feature h3 {
  padding-top: 14px;
  padding-bottom: 10px;
}






@media (max-width: 980px) {

  #home {
    height: 65vh;
  }

  #feature .col-md-4:last-child,
  #about .col-md-4 {
    margin-top: 42px;
  }

  #team .team-thumb {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #team .join-team {
    padding: 71px 50px;
    margin-top: 20px;
  }

}


@media (max-width: 900px) {

  h1 {
    font-size: 70px;
  }

}


@media (max-width: 768px) {

  .navbar-default .navbar-brand {
    line-height: 46px;
  }

}

@media (max-width: 767px) {

  .navbar-default .navbar-brand {
    line-height: 15px;
  }

  .navbar-default .navbar-nav li a {
    line-height: 30px;
  }

  #feature .col-md-4,
  #about .col-md-5,
  footer .col-md-4 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .filter-wrapper {
    padding: 0px;
  }

}

@media (max-width: 650px) {

  #home {
    height: 100vh;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 30px;
  }

  #feature {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  #about,
  #feature,
  #video,
  #menu,
  #team,
  #gallery,
  #contact {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  #menu .media-object img {
    width: 100%;
    padding-bottom: 14px;
  }

  #menu .media-object span.menu-price {
    top: 30%;
    left: 6%;
  }

  footer {
    text-align: center;
  }

}